---
layout: main.html
---
<!-- When using main.html as the layout you do not need to specify it, but I put this declaration as a example -->
      <h1>Front-End Quickstarter Boilerplate</h1>
      <ul>
        <li>check that config.rb reflects your needs</li>
        <li>update scss/partials/_config.scss with your own settings</li>
      </ul>
